services:
  firefox:
    image: lscr.io/linuxserver/firefox:latest
    container_name: firefox
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/firefox/config:/config
    ports:
      - 3002:3000
      - 3001:3001
    shm_size: "1gb"
    restart: unless-stopped