DOCKERDIR=/home/harryzhong/home-server
MEDIADIR=/media/storage/arr_data
PUID=1000
PGID=1000
TZ=Australia/Perth
LOCAL_IP=INSERTIPHERE
TAILCALE_IP=INSERTIPHERE
RADARR_API=INSERTKEYHERE
SONARR_API=INSERTKEYHERE
ARK_ADMIN_PASSWORD=INSERTPWDHERE
QBIT_USER=admin
QBIT_PWD=INSERTPWDHERE