DOCKERDIR=/home/harryzhong/home-server
MEDIADIR=/media/storage/arr_data
PUID=1000
PGID=1000
TZ=Australia/Perth
QBIT_USER=admin
QBIT_PWD=
OPENVPN_USER=
OPENVPN_PASSWORD=
SERVER_COUNTRIES=Australia
CLOUDFLARE_API_TOKEN_PUBLIC=
CLOUDFLARE_API_TOKEN_INTERNAL=
CROWDSEC_API_KEY=
JELLYFIN_API_KEY=