services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - $DOCKERDIR/appdata/plex/config:/config
      - $MEDIADIR/TV:/tv
      - $MEDIADIR/Movies:/movies
    restart: unless-stopped
    dns:
      - 1.1.1.1
  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - $DOCKERDIR/appdata/jellyfin/config:/config
      - $DOCKERDIR/appdata/jellyfin/cache:/cache
      - $MEDIADIR/TV:/media/tv
      - $MEDIADIR/TV_4k:/media/tv_4k
      - $MEDIADIR/Movies:/media/movies
      - $MEDIADIR/Movies_4k:/media/movies_4k
      - $MEDIADIR/Boovies:/media/boovies
    ports:
      - 8096:8096
    restart: unless-stopped
    group_add:
      - 993
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=$TZ
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - $DOCKERDIR/appdata/jellyseerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 1.0.0.1
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/radarr/config:/config
      - $MEDIADIR:/data
    ports:
      - 7878:7878
    restart: unless-stopped
    dns:
      - 1.1.1.1
  radarr_4k:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr_4k
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/radarr_4k/config:/config
      - $MEDIADIR:/data
    ports:
      - 7879:7878
    restart: unless-stopped
    dns:
      - 1.1.1.1
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/sonarr/config:/config
      - $MEDIADIR:/data
    ports:
      - 8989:8989
    restart: unless-stopped
    dns:
      - 1.1.1.1
  sonarr_4k:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr_4k
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/sonarr_4k/config:/config
      - $MEDIADIR:/data
    ports:
      - 8990:8989
    restart: unless-stopped
    dns:
      - 1.1.1.1
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/appdata/bazarr/config:/config
      - $MEDIADIR:/data
    ports:
      - 6767:6767
    restart: unless-stopped
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    user: $PUID:$PGID
    volumes:
      - $DOCKERDIR/appdata/recyclarr/config:/config
    environment:
      - TZ=$TZ
  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=$TZ
    ports:
      - "${PORT:-8191}:8191"
    restart: unless-stopped