services:
  tailscale:
    container_name: tailscale
    hostname: tailscale-optiplex
    image: tailscale/tailscale:stable
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--advertise-exit-node
    volumes:
      - $DOCKERDIR/appdata/tailscale/lib:/var/lib # State data will be stored in this directory
      - /dev/net/tun:/dev/net/tun # Required for tailscale to work
    cap_add: # Required for tailscale to work
      - net_admin
      - sys_module
    command: tailscaled
    privileged: true
    restart: always
    network_mode: host
  nginxproxymanager:
    container_name: nginxproxymanager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - $DOCKERDIR/appdata/nginxproxymanager/data:/data
      - $DOCKERDIR/appdata/nginxproxymanager/letsencrypt:/etc/letsencrypt
  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome
    restart: unless-stopped
    volumes:
      - $DOCKERDIR/appdata/adguardhome/work:/opt/adguardhome/work
      - $DOCKERDIR/appdata/adguardhome/conf:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 82:80/tcp
      - 444:443/tcp
      - 444:443/udp
      - 3003:3000/tcp